/* Globals */
:root {
  /* using system defaults for faster performance */
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  --font-serif: Georgia, serif;
  --color-secondary: #333;
  --color-link: #635ac7;
  --color-primary: #484A6F;
  --color-grey: #CFD2D8;
  --color-black: #323232;

  font-family: var(--font-sans);
  font-weight: normal;
  line-height: 1.5;
}

body {
  margin: 0;
  color: var(--color-primary);
}

a {
  color: var(--color-link);
}

/* Global Header */
.global-header {
  padding-bottom: 2rem;
  padding-top: 2rem;
  text-align: center;
}
.global-header__title {
  font-size: 2.4rem;
}

/* Header Quote */
.header-quote {
  color: var(--color);
  font-family: var(--font-serif);
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  max-width: 460px;
}
.header-quote__quoted-text::before,
.header-quote__quoted-text::after {
  display: inline;
  color: var(--color-grey-primary);
  font-size: 1.2rem;
}

.header-quote__quoted-text::before {
  content: open-quote;
}
.header-quote__quoted-text::after {
  content: close-quote;
}
.header-quote__citation {
  font-weight: 600;
}

/* Image Gallery */
main {
  padding: 20px;
}

.tiles-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 20px;
  width: 100%;
  max-width: 1440px;
  margin: auto;
}

@media only screen and (max-width: 896px) {
  .tiles-container { grid-template-columns: repeat(3, 1fr); }
}
@media only screen and (max-width: 480px) {
  .tiles-container { grid-template-columns: repeat(2, 1fr); }
}

.tile {
  position: relative;
  padding-top: 100%;
  cursor: zoom-in;
  background-color: var(--color-primary);
  margin: 0;
}
.tile__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  transition: all 0.5s linear;
}
.tile__img:hover {
  opacity: 1;
}

/* Fallback styles for browsers that don't support grid */
@supports not (display: grid) {
  .tiles-container{
    overflow: hidden;
  }
  .tile {
    width: 20%;
    float: left;
    padding: 20% 0 0;
    background-color: initial;
  }
  .tile:last-of-type {
    clear: after;
  }
  .tile__img {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    margin: 10px;
  }
  @media only screen and (max-width: 896px) {
    .tile {
      width: 33.33%;
      padding: 33.33% 0 0;
    }
  }
  @media only screen and (max-width: 480px) {
    .tile {
      width: 50%;
      padding: 50% 0 0;
    }
  }
}

/* Modal Elements */
.dimmer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-black);
  opacity: 0.9;
}

.dimmer.active {
  display: block;
  animation-duration: 1s;
  animation-name: fadeIn;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 0.9; }
}

.modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  padding: 50px;
}

.modal.active {
  display: block;
}

.modal__close {
  float: right;
  color: white;
  font-size: 20px;
  margin: -30px -30px 0 0;
  cursor: pointer;
}

.modal__img {
  max-width: 0;
  max-height: 0;
}

.modal.active .modal__img {
  max-width: 70vw;
  max-height: 70vw;
  animation-duration: 2s;
  animation-name: grow;
}

@keyframes grow {
  from {
    max-width: 0;
    max-height: 0;
  }
  to {
    max-width: 70vw;
    max-height: 70vw;
  }
}

/* Global Footer */
.global-footer {
  font-family: var(--font-serif);
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
}